{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <link href="{% static  'network/styles_profile.css' %}" rel="stylesheet">
        <link rel="icon" href="https://img.icons8.com/?size=100&id=13441&format=png&color=000000">
        <script src="{% static 'network/profile.js'%}"></script>
    </head>
    <body>
        {% csrf_token %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </nav>
        <div class="container profile-page" id="profile-page" data-profile="{{ user.username }}">

            
            <div class="profile-header card mb-4">
                <div class="profile-info d-flex align-items-center">

                    <div class="avatar">
                        <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}/static/default-avatar.png{% endif %}" alt="{{ user.username }}'s avatar" class="avatar-img">
                    </div>

                    <div class="user-details ml-3">
                        <h3 class="username">{{ user.username }}</h3>

                        <div class="follow-stats d-flex">
                            <div class="followers mr-3">
                                <span class="followers-count count">{{ user.followers.count }}</span> followers
                            </div>
                            <div class="following">
                                <span class="followings-count count">{{ user.following.count }}</span> followings
                            </div>
                        </div>

                        {% if request.user.is_authenticated and request.user != user %}
                        <button id="follow-btn" class="btn btn-primary mt-2" data-username="{{ user.username }}" data-following="{% if is_followed %}true{% else %}false{% endif %}">
                            {% if request.user in user.followers.all %}
                                Unfollow
                            {% else %}
                                Follow
                            {% endif %}
                        </button>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div id="user-posts">
            </div>

        </div>

    </body>
</html>